/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #74abe2, #5563de) fixed;
  font-family: "Ropa Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 20px;
}

.title {
  font-size: 2rem;
  color: #fff;
}

/* Link */
.link {
  margin: -70px 0 40px 80px;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #eee;
}

.icon-link:hover {
  color: #0077cc;
}

/* Descrição */
.description {
  max-width: 800px;
  margin: 40px 0 10px;
  color: #fff;
  font-size: 1.3rem;
  text-align: justify;
}

/* Botão */
.message-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#message {
  margin-top: 10px;
  font-size: 18px;
  color: #e9e9e9;
  text-align: center;
}

/* Seções inferiores */
.horizontal-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  gap: 50px;
}

.divider {
  width: 80%;
  height: 1px;
  margin: 20px auto;
  min-width: 200px; /* Garante que fique acima de outros elementos */
}

/* Slider */
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slider > nav a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.slider > nav a:active {
  top: 1px;
}

.slider > nav a:focus {
  background: #fff;
}

@supports (scroll-snap-type) {
  .slider > nav {
    display: none;
  }
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
  border-radius: 20px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #eee;
  transform: scale(1);
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hobbies */
ul {
  list-style: none;
  padding: 0;
}

li {
  color: #eee;
  margin-bottom: 10px;
}

h2 {
  color: #fff;
  margin-bottom: 10px;
}

/* Países que eu gostaria de visitar */
.countries {
  flex: 1;
  max-width: 1000px;
  color: #eee;
  text-align: center;
}

.countries table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.countries td {
  padding: 0.2rem;
}

.countries img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}
